@font-face {
  font-family: "Barlow-Light";
  src:
    url("font/Barlow-Light.otf") format("opentype");
}

div {
    color:#7B8A92;
    background-color: rgb(241, 241, 241);
}

/* div .right{
    padding: 50px;
} */

img, div{
    display: inline-block;
    vertical-align: middle;
}

.linkedin {
  color: white;
}
.box .right{
  width: 400px;
  height: 500px;
  padding: 50px;
}
.box {
  width: 900px;
  height: 600px;
  background-color: #EFF6FF;
  padding: 50px;
}

.box div{
  width: 320px;
}

h1 {
color: #393939;
font-family: "Barlow-Light";
font-size: 15px;
}

h2 {
color: #393939;
font-family: "Barlow-Light";
font-size: 12px;
}

p {
color: #2A4A5C;
font-family: "Barlow-Light";
font-size: 10px;
}

.fb {
  font-size: 10px;
  height: 20px;
  background-color: #255A9B;
}

.regbutton{
  display: flex;
  gap: 10px;
}

.linkedin {
  font-size: 10px;
  height: 20px;
  background-color: #255A9B;
}

.OR {
  font-size: 10px;
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

/* .input {
  убрать рамки
} */

.emailphone > div {
  border: 1px solid grey;
}
.emailphone {
    display: flex;
  gap: 10px;

}

.choice-containers {
  display: flex;
}

.label-text {
  font-size: 10px;
}

.plashka {
  font-size: 10px;
  max-width: 200px;
  background: white;
  padding: 5px;
}

.plashka > p{
  margin: 0px
}

*{
 font-family: "Barlow-Light";
 box-sizing: border-box;
}